body {
    background-image: url('../img/background-image3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
    background-attachment: fixed;
    z-index: 2;
    opacity: 1;
}

.click-here2 {
    font-size: 15px;
    color: red;
    font-family: "Science Gothic", sans-serif;
    font-weight: bold;

}

.titulo-home {
    font-family: "Science Gothic", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

.columnas {
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
    padding: 20px;

    flex-direction: column;
    align-items: top;
    justify-content: center;
    text-align: center;
    font-family: "Science Gothic", sans-serif;
    min-height: 350px;
    height: auto;
    border-radius: 20px;
    color: white;

}

.columnas-2 {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: left;
    text-align: center;
    font-family: "Science Gothic", sans-serif;
    color: white;

}

.columna-derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}


.parrafo {
    font-family: "Science Gothic", sans-serif;
    color: white;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    flex-direction: row;
}




.creado-x-1-persona {
    text-decoration: underline;

}

.link-descarga-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    color: red;
    background-color: rgb(16, 16, 16);
    margin: 0;
    line-height: 1;
}

.link-descarga:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);

}

footer {
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Science Gothic", sans-serif;
    height: 100px;
    border-radius: 20px;
    color: white;


}


.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
  height: auto;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-center {
  display: flex;
  gap: 25px;
}

.titulo-navbar {
  font-family: "Science Gothic", sans-serif;
  color: rgb(255, 0, 0);
}

.nav-item {
  font-family: "Science Gothic", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-item:hover {
    color: rgba(150, 0, 0);
}

.donate {
    color: #ff69b4;
    font-weight: bold;
}

::selection {
    background: red;
    color: white;
}


.columnas video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}


.parrafo-downloads {
    background: rgb(0, 0, 0, 0.7);
}
